/* POPUP */
.popup{
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: $transition;
    visibility: hidden;    
    z-index: 99;
    padding: 20px 15px;    
    &__content{
        background-color: $color-light;
        border-radius: $border-radius;
        padding: 25px 30px;
        //opacity: 0;
        max-width: 380px;
    }
    
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;             
    }
    &__title{
        color: 	$color-gray;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    &__text{
        margin-bottom: 25px;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
    }
}

.popup.open {
    opacity: 1;
    visibility: visible;
}