//Fonts
$text-font: 'Rubik', sans-serif;
$font-size: 16px;
$line-height: 22px;

//Colors
$color-light: #FFF;

$color-magento:  #AD1FEA;
$color-magento-light: #C75AF6;
$color-blue: #4661E6;
$color-blue-light: #7C91F9;



$color-peach:#F49F85;

$color-sky-blue-bright: #62BCFA;
$color-sky-blue: #CFD7FF;
$color-sky-blue-light: #F2F4FF;

$color-dirty-blue: #647196;


//Comment project
$grayish-blue: 	#67727E;
$light-grayish-blue: #C5C6EF;
$color-dirty-light: #F2F2F2;
$color-cobalt: #3A4374;
$color-cobalt-light: #656EA3;
$color-red: #D73737;
$color-red-light: #E98888;

$color-gray: #324152;
$color-gray-light: #67727E;


/*Box shadow*/
$box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);



/*Border radius*/
$border-radius: 10px;

/*Transition*/
$transition: 0.5s;

